<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>143839287204-kkenp6a2lfgstqib7ssoseq6ucd685tg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.143839287204-kkenp6a2lfgstqib7ssoseq6ucd685tg</string>
	<key>API_KEY</key>
	<string>AIzaSyDB3rm0T9ygoXHjoRDgV6rkYAz4qLmX064</string>
	<key>GCM_SENDER_ID</key>
	<string>143839287204</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.ceasarb.quizapp</string>
	<key>PROJECT_ID</key>
	<string>quiz-app-17382</string>
	<key>STORAGE_BUCKET</key>
	<string>quiz-app-17382.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143839287204:ios:db5d8968e45cf35b</string>
	<key>DATABASE_URL</key>
	<string>https://quiz-app-17382.firebaseio.com</string>
</dict>
</plist>